/* common shared font */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: rgba(222, 90, 226, 0.1);
}

.banner {
    padding: 30px 30px 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-flower {
    width: 500px;
    height: 900;
}

.banner-content {
    max-width: 500px;

}

.text-primary {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.btn-primary {
    border-radius: 5px;
    background: #e55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 40px;

}
/* featured flower section start */
.featured-flower-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-flower-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
}

#featured-description {
    text-align: center;
    width: 590px;
    margin: 0 auto;
}



.our-featured-flowers {
    justify-content: center;
    margin-top: 100px;
    display: flex;
    gap: 25px;
}
.btn-flowers{
    align-items: center;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-featured-flowers {
    width: 310px;
    height: 430px;
    padding: 50px 15px 0px 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.second-featured-flowers {
    width: 310px;
    height: 430px;
    padding: 50px 15px 0px 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-featured-flowers {
    width: 310px;
    height: 430px;
    padding: 50px 15px 0px 10px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flowers-sizes {
    width: 75%;
    height: 100%;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin-right: 125px;
}

li>a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* Hot deal section started */
.hot-sale {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

span {
    color: #E55473;
}

.section-hot-deals {
    width: 87%;
    height: 900;
    padding: 40px 30px 20px 150px;
    background: #f1b3c1;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;

}

/* flowers row started */

.flowers-row {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: antiquewhite;
}



/* latest deals */


.deals-container {
    background-image: url('../images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    width: 1250px;
    height: 449px;
    text-align: center;
    margin-left: 80px;
    padding-top: 50px;
    margin-top: 80px;

}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.email-deals {
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    width: 700px;
    height: 64px;

}

/* footer started */
.footer-container {
    width: 1420px;
    height: 449px;
    background-color: #272727;
    padding-top: 50px;
    margin-top: 80px;

}

.footer-p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-title {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    text-align: center;

}

.footer-small{

    color: rgba(255, 255, 255, 0.40);
    justify-content: center;
    font-family: Lato;
    font-weight: 400;
    margin-left: 450px;
    
}